<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Record</title>
</head>
<body>{% csrf_token %}
    <form action="/" method="POST">
      <input name="txt" value="">
    </form>
    <div class="click" style="padding:5px;background-color:#ccc;margin-top:30px;width:140px;text-align:center;color:#f00;">Создать Record</div>
    <div class="message"></div>
    <script language="JavaScript">
        document.getElementsByClassName("click")[0].onclick = function() {
            var xhr = new XMLHttpRequest();
            var csrftoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            var txt = document.getElementsByName("txt")[0].value;

            xhr.onreadystatechange = function() {
                if (xhr.readyState != 4) return;
                    if (xhr.status == 200) {
                        document.getElementsByClassName("message")[0].innerHTML = "'ошибка: ' + (this.status ? this.statusText : 'запрос не удался') ";
                        return;
                      }
                document.getElementsByClassName("message")[0].innerHTML = "Successfull";
            }
            document.getElementsByName("txt")[0].value = '';
            xhr.open("POST", "api/uploadText", false);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("X-CSRFTOKEN", csrftoken);
            xhr.send(JSON.stringify({"text":txt}));
        };
    </script>
</body>
</html>